<h1>Stupid coach</h1>

<blockquote>
<%= params[:answer] %>
<cite>You</cite>
</blockquote>

<blockquote class="coach">
<%= @response %>
<cite>Your coach</cite>
</blockquote>

<%= link_to "Ask a new question", ask_path %>
